@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

.header {

  &__main {
    @include flex();
    justify-content: space-between;
    align-items: center;
    margin: 0, 5%;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  // &__ul {
  //     @include flex()
  // }

  // &__li {
  //     list-style: none;
  // }
  &__button {
    color: #000000;
  }
}

.nav {
  &-link {
    color: black;
  }
}

.carrer {
  @include flex();
}
